<a href="https://colab.research.google.com/github/ertecino/Algoritma-Binary-Search-Tree/blob/main/gayrimenkul_kira_tahmin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("drmurataltun/antalya-muratpaa-daire-kira-cretleri-2024-ocak")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/drmurataltun/antalya-muratpaa-daire-kira-cretleri-2024-ocak?dataset_version_number=1...

100%|██████████| 13.9k/13.9k [00:00<00:00, 18.9MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/drmurataltun/antalya-muratpaa-daire-kira-cretleri-2024-ocak/versions/1

In [2]:
import os

# path değişkeni zaten tanımlı, içindeki dosyalara bakalım
os.listdir(path)

['antalya_kiralik_ev.csv']

In [17]:
import pandas as pd

df = pd.read_csv(os.path.join(path, "antalya_kiralik_ev.csv"))
df.head()

,Unnamed: 0,mahalle,fiyat,brut_alan_m2,net_alan_m2,oda_sayisi,bina_yas,dairenin_bulundugu_kat,bina_kat_sayisi,isitma_turu,banyo_sayisi,balkon,asansor,otopark,esya_durumu,site_icinde,aidat,depozito,sahibi
0,1,Bayındır Mh.,15000.0,90.0,80.0,2+1,21-25 arası,Giriş Katı,4.0,Klima,1.0,0,0,Açık Otopark,1,0,100,15000,0
1,2,Çaybaşı Mh.,29000.0,145.0,135.0,3+1,0,1,5.0,Kombi (Doğalgaz),1.0,1,1,Kapalı Otopark,0,1,1500,30000,0
2,3,Güzeloba Mh.,24750.0,145.0,130.0,3+1,11-15 arası,3,4.0,Klima,1.0,1,0,Açık Otopark,0,0,500,25000,1
3,4,Şirinyalı Mh.,30000.0,230.0,200.0,3+1,5-10 arası,2,3.0,Doğalgaz Sobası,2.0,0,0,Açık Otopark,1,0,0,30000,0
4,5,Çağlayan Mh.,37500.0,320.0,300.0,4+2,16-20 arası,8,8.0,Klima,3.0,1,1,Açık Otopark,0,1,0,37500,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              750 non-null    int64
 1   mahalle                 750 non-null    object
 2   fiyat                   750 non-null    float64
 3   brut_alan_m2            750 non-null    float64
 4   net_alan_m2             750 non-null    float64
 5   oda_sayisi              750 non-null    object
 6   bina_yas                750 non-null    object
 7   dairenin_bulundugu_kat  750 non-null    object
 8   bina_kat_sayisi         750 non-null    float64
 9   isitma_turu             750 non-null    object
 10  banyo_sayisi            750 non-null    float64
 11  balkon                  750 non-null    int64
 12  asansor                 750 non-null    int64
 13  otopark                 750 non-null    object
 14  esya_durumu             750 non-null    int64
 15  site_icinde             750 non-null    int64
 16  aidat                   750 non-null    int64
 17  depozito                750 non-null    int64
 18  sahibi                  750 non-null    int64
dtypes: float64(5), int64(8), object(6)
memory usage: 111.5+ KB

In [19]:
df.describe()

,Unnamed: 0,fiyat,brut_alan_m2,net_alan_m2,bina_kat_sayisi,banyo_sayisi,balkon,asansor,esya_durumu,site_icinde,aidat,depozito,sahibi
count,750.000000,750.000000,750.000000,750.000000,750.000000,750.00000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000
mean,411.692000,24260.117333,123.754667,111.505333,5.204000,1.28000,0.917333,0.626667,0.482667,0.281333,419.381333,21955.133333,0.088000
std,238.319713,16680.292541,53.263920,48.517233,2.959853,0.52086,0.275561,0.484012,0.500033,0.449950,2644.590077,24414.825180,0.283484
min,1.000000,10250.000000,25.000000,20.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,208.250000,15000.000000,85.000000,75.000000,3.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,500.000000,0.000000
50%,414.500000,20000.000000,115.000000,100.000000,4.000000,1.00000,1.000000,1.000000,0.000000,0.000000,50.000000,18000.000000,0.000000
75%,617.750000,27000.000000,150.000000,140.000000,7.000000,1.00000,1.000000,1.000000,1.000000,1.000000,300.000000,27375.000000,0.000000
max,828.000000,200000.000000,400.000000,370.000000,17.000000,4.00000,1.000000,1.000000,1.000000,1.000000,70000.000000,200000.000000,1.000000

In [20]:
df.isnull().sum()

Unnamed: 0                0
mahalle                   0
fiyat                     0
brut_alan_m2              0
net_alan_m2               0
oda_sayisi                0
bina_yas                  0
dairenin_bulundugu_kat    0
bina_kat_sayisi           0
isitma_turu               0
banyo_sayisi              0
balkon                    0
asansor                   0
otopark                   0
esya_durumu               0
site_icinde               0
aidat                     0
depozito                  0
sahibi                    0
dtype: int64

In [22]:
# Unnamed: 0 index’leme amacıyla eklenmiş, kaldırabiliriz.
df.drop("Unnamed: 0", axis=1, inplace=True)

In [24]:
# oda_sayisi (object → int)
# Amaç: “2+1” → 3 gibi toplam oda sayısına dönüştürmek.
def toplam_oda_sayisi(oda_str):
    try:
        parcalar = oda_str.split('+')
        return int(parcalar[0]) + int(parcalar[1])
    except:
        return None

df["toplam_oda"] = df["oda_sayisi"].apply(toplam_oda_sayisi)

In [26]:
# bina_yas (object → int)
Amaç: “Sıfır bina” → 0, diğerleri sayıya dönüşsün

In [27]:
# ilk beş satıra bakalım
df.head()

,mahalle,fiyat,brut_alan_m2,net_alan_m2,oda_sayisi,bina_yas,dairenin_bulundugu_kat,bina_kat_sayisi,isitma_turu,banyo_sayisi,balkon,asansor,otopark,esya_durumu,site_icinde,aidat,depozito,sahibi,toplam_oda,bina_yasi
0,Bayındır Mh.,15000.0,90.0,80.0,2+1,21-25 arası,Giriş Katı,4.0,Klima,1.0,0,0,Açık Otopark,1,0,100,15000,0,3.0,NaN
1,Çaybaşı Mh.,29000.0,145.0,135.0,3+1,0,1,5.0,Kombi (Doğalgaz),1.0,1,1,Kapalı Otopark,0,1,1500,30000,0,4.0,0.0
2,Güzeloba Mh.,24750.0,145.0,130.0,3+1,11-15 arası,3,4.0,Klima,1.0,1,0,Açık Otopark,0,0,500,25000,1,4.0,NaN
3,Şirinyalı Mh.,30000.0,230.0,200.0,3+1,5-10 arası,2,3.0,Doğalgaz Sobası,2.0,0,0,Açık Otopark,1,0,0,30000,0,4.0,NaN
4,Çağlayan Mh.,37500.0,320.0,300.0,4+2,16-20 arası,8,8.0,Klima,3.0,1,1,Açık Otopark,0,1,0,37500,0,6.0,NaN

In [28]:
# bina_yasi sütun değerlerine bakma
df["bina_yasi"].value_counts()

bina_yasi
4.0    38
0.0    28
2.0    20
1.0    16
3.0    16
Name: count, dtype: int64

In [29]:
# bina_yasi sütunda boş veri var mı?
df["bina_yasi"].isnull().sum()

np.int64(632)